<%= form_for(car, :html => {multipart: true} ) do |f| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field  :photo %>
  </div>

  <div class="field">
    <%= f.label :brand_id %>
    <%= f.select :brand_id, options_from_collection_for_select(Brand.all, "id", "name") %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :doors %>
    <%= f.number_field :doors %>
  </div>

  <div class="field">
    <%= f.label :owner_email %>
    <%= f.text_field :owner_email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
